@use '../../styles/colors.scss' as c;
@use '../../styles/sizes.scss' as s;

.login {
  display:flex;
  flex-direction: column;
  gap: s.$nano;

  &__title {
    margin: 0;
    font-size: s.$tiny;
  }
  &__input {
    font-size: s.$micro;
  }
  &__button {
    font-size: s.$micro;
  }
  
}
