@use '../../styles/colors.scss' as c;
@use '../../styles/sizes.scss' as s;

.plan {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: s.$micro;
  }

  &--dark {
    background-color: c.$primary-bg__dark;
    color: c.$primary-text__dark;
  }
  &--light {
    background-color: c.$primary-bg__light;
    color: c.$primary-text__light;
  }
}