// LIGHT THEME
$primary-bg__light: #DBC2CF;
$secondary-bg__light: #9FA2B2;
$primary-text__light: #16262E;
$secondary-text__light: #2E4756;
$shadow__light: #2E4756;

// DARK THEME
$primary-bg__dark: #16262E;
$secondary-bg__dark: #2E4756;
$primary-text__dark: #DBC2CF;
$secondary-text__dark: #9FA2B2;
$shadow__dark: #c0c3d6;
